<div id="message-{{id}}" class="commentcontainer">
    <p class="comment-author">@{{username}}</p>
    <p class="comment-time">{{formatDate createdAt}}</p>
    <p class="comment-text">{{text}}</p>
</div>