<div class="nav">
    <a href="/" class="nav-button">Index</a>
    <form class="search-bar" method="GET" action="/posts/search" enctype="application/x-www-form-urlencoded">
        <input id="search" class="search-input" type="text" name="searchTerm" value="{{searchValue}}">
        <button type="submit" class="search-button"></button>
    </form>
    {{#if isLoggedIn}}
    <a class="nav-button" id="logout-button">Log out </a>
    {{else}}
    <a href="/login" class="nav-button">Log in  </a>
    {{/if}}
    <a href="/postimage" class="nav-button">Post Image  </a>
</div>