<div class="nav">
    <a href="/" class="indexnav">Index</a>
    {{#if isLoggedIn}}
    <a class="loginnav" id="logout-button">Log out </a>
    {{else}}
    <a href="/login" class="loginnav">Log in  </a>
    {{/if}}
    <a href="/postimage" class="postnav">Post Image  </a>
    <a href="/viewpost" class="viewnav">View Post  </a>
</div>