<div class="nav">
    <a href="/" class="indexnav">Index</a>
    <a href="/login" class="loginnav">Log in  </a>
    <a href="/registration" class="regnav">Registration  </a>
    <a href="/postimage" class="postnav">Post Image  </a>
    <a href="/viewpost" class="viewnav">View Post  </a>
</div>