<main class="container">
    {{#each results}}
    <div>
        <img src="{{this.thumbnail}}">
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <a href="/posts/{{this.id}}" class="postlink">details</a>
    </div>
    {{/each}}
</main>