<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\public\css\style.css" type="text/css">
    <meta charset="utf=8">
    <title>Lily Keus's Assignment 4</title>
</head>
<body class="indexpage">
    <h1 class="photo-count" id="photo-count">(..)</h1>
    <div id="product-list" class="product-list">
    </div> 
    <div class="footer">
        © Lily Keus
    </div>
</body>
<script defer type="text/javascript" src="../js/Index.js"></script> 
</html>
