<!DOCTYPE html>
<html lang="en">
<body class="indexpage">
    <h1 class="photo-count" id="photo-count">(..)</h1>
    <div id="product-list" class="product-list">
    </div>
</body>
<script defer type="text/javascript" src="../js/Index.js"></script> 
</html>
