<body class="container">
    <form class="postimform" action="viewpost.html" method="POST">
        <fieldset>
            <legend>Post</legend>
            <input class="forms" type="text" name="title" required placeholder="Post Title" />
            <br>
            <input class="forms" type="text" name="descript" required placeholder="Post Description" />
            <br>
            <input calss="custom-file-upload" type="file" name="imge" required placeholder="Post Image" />
            <br>
            <input class="check" type="checkbox" id="usepl" name="usepl" value="2" required>
            <label for="usepl"> Accept Use Policy for uploading images</label>
            <br>
        </fieldset>
        <input class="postsub" type="submit" value="Post">
    </form>
</body>