<body class="container">
    <form class="regiform" action="/users/registration" method="POST" enctype="application/x-www-form-urlencoded" >
        <legend>Register</legend>
        <input class="forms valid" type="text" id="uname" name="username" required minlength="3" placeholder="User Name" />
        <br>
        <input class="forms valid" type="email" id="emil" name="email" required placeholder="email@whatever.com" />
        <br>
        <input class="forms valid" type="password" id="pawrd" name="password" required minlength="8" placeholder="Password" />
        <br>
        <input class="forms valid" type="password" id="pawrdc" name="cpassword" required placeholder="Confirm Password" />
        <br>
        <input class="check" type="checkbox" id="13+" value="2" required>
        <label for="13+"> I am above 13 years of age</label>
        <br>
        <a class="TOSLink" href="https://google.com/"> TOS and Privacy Rules </a>
        <br>
        <input class="check" type="checkbox" id="TOS" value="2" required>
        <label for="TOS"> Accept TOS and Privacy rules</label>
        <br>
        <input class="regsub" type="submit" id="submit">
    </form>
</body>