<body class="container">
        <div class="post">
            <br>
            <div class="PostTitle">
                Post Title (placeholder)
            </div>
            Post Author (placeholder)
            <br>
            Post Creation Time (placeholder)
            <br>
            Post Image (placeholder)
            <br>
        </div>
        <div class="postImage">
            <img
                src="https://static.wikia.nocookie.net/nichijou/images/2/26/Sakamoto.png/revision/latest/scale-to-width-down/238?cb=20190531163434">
        </div>
</body>