.nav{
    background-color: rgb(91, 206, 250);
}

body.container{
    background-color: rgb(189, 235, 253);
}

.header {
    background-color: rgb(189, 235, 253);
    border: 4px solid rgb(91, 206, 250);
}

.forms {
    border: 4px solid rgb(91, 206, 250);
}

.sub {
    background-color: rgb(91, 206, 250);
    color: white;
    transition-duration: .4s;
    border: none;
    margin-top: 30px;
}

.sub:hover {
    background-color: white;
    color: black;
    border: solid rgb(91, 206, 250);
}

#cat{
    width:188px;
    height: 268px;
    background: url(sakamotoblue.png);
}