.loginnavmain {
    border: solid rgb(255, 208, 0);
}

.header {
    background-color: rgb(255, 241, 178);
    border: 4px solid rgb(255, 208, 0);
}

body.container {
    background-image: url(yellowback.png);
}

.loginform {
    border: 4px solid rgb(255, 208, 0);
}

.logsub {
    margin-top: 50px;
}

.logsub {
    background-color: rgb(255, 208, 0);
    color: white;
    transition-duration: .4s;
    border: none;
}

.logsub:hover {
    background-color: white;
    color: black;
    border: solid rgb(255, 208, 0);
}

.cat{
    background: url("/public/css/sakamotoyellow.png");
}