.nav{
    background-color: rgb(245, 169, 184);
}

body.container{
    background-color: rgb(251, 221, 227);
}

.header {
    background-color: rgb(251, 221, 227);
    border: 4px solid rgb(245, 169, 184);
}

.forms {
    border: 4px solid rgb(245, 169, 184);
}

.sub {
    background-color: rgb(245, 169, 184);
    color: white;
    transition-duration: .4s;
    border: none;
    margin-top: 30px;
}

.sub:hover {
    background-color: white;
    color: black;
    border: solid rgb(245, 169, 184);
}

#cat{
    width:188px;
    height: 268px;
    background: url(sakamotopink.png);
}

.postimform {
    border: 4px solid rgb(245, 169, 184);
}

.postsub {
    background-color: rgb(245, 169, 184);
    color: white;
    transition-duration: .4s;
    border: none;
    margin-top: 30px;
}

.postsub:hover {
    background-color: white;
    color: black;
    border: solid rgb(245, 169, 184);
}