.postnavmain {
    border: solid blue;
}

.header {
    background-color: rgb(178, 178, 255);
    border: 4px solid blue;
}

body.container {
    background-image: url(blueback.png);
}

.postimform {
    border: 4px solid blue;
}

.postsub {
    background-color: blue;
    color: white;
    transition-duration: .4s;
    border: none;
    margin-top: 30px;
}

.postsub:hover {
    background-color: white;
    color: black;
    border: solid blue;
}