a{
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
}
.TOSLink{
  color: black !important;
  text-decoration: underline !important;
}
button{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}
input[type=submit] {
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}
.mainnavs{
  background-color: white;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}
.indexnavmain{
  border: solid red;
}
.indexnav{
  background-color: red;
}
.indexnav:hover{
  background-color: white;
  color: black;
  border: solid red;
}
.loginnavmain{
  border: solid rgb(255, 208, 0);
}
.loginnav{
  background-color: rgb(255, 208, 0);
}
.loginnav:hover{
  background-color: white;
  color: black;
  border: solid rgb(255, 208, 0);
}
.regnavmain{
  border: solid green;
}
.regnav{
  background-color: green;
}
.regnav:hover{
  background-color: white;
  color: black;
  border: solid green;
}
.postnavmain{
  border: solid blue;
}
.postnav{
  background-color: blue;
}
.postnav:hover{
  background-color: white;
  color: black;
  border: solid blue;
}
.viewnavmain{
  border: solid purple;
}
.viewnav{
  background-color: purple;
}
.viewnav:hover{
  background-color: white;
  color: black;
  border: solid purple;
}
.nav{
  text-align: center;
  margin-top: 10px;
}
.header{
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
}
.headerindex{
  background-color: rgb(255,178,178);
  border: 4px solid red;
}
.headerlogin{
  background-color: rgb(255,241,178);
  border: 4px solid rgb(255, 208, 0);
}
.headerreg{
  background-color: rgb(178,217,178);
  border: 4px solid green;
}
.headerpost{
  background-color: rgb(178,178,255);
  border: 4px solid blue;
}
.headerview{
  background-color: rgb(217,178,217);
  border: 4px solid purple;
}
.article{
  text-align: center;
  margin-top: 30px;
}
body.indexpage{
  background-image: url(redback.png);
}
body.loginpage{
  background-image: url(yellowback.png);
}
body.regpage{
  background-image: url(greenback.png);
}
body.postpage{
  background-image: url(blueback.png);
}
body.viewpage{
  background-image: url(purpleback.png);
}
body{
  font-family: FreeMono, monospace;
  margin: 0;
}
.logsub{
  margin-top: 50px;
}
fieldset{
  display:contents;
}
input{
  padding-bottom: 0;
}
form{
  background-color: white;
  margin: auto;
  width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.loginform{
  border: 4px solid rgb(255, 208, 0);
}
.regiform{
  border: 4px solid green;
}
.postimform{
  border: 4px solid blue;
}
.logsub{
  background-color: rgb(255, 208, 0);
  color: white;
  transition-duration: .4s;
  border: none;
}
.logsub:hover{
  background-color: white;
  color: black;
  border: solid rgb(255, 208, 0);
}
.regsub{
  background-color: green;
  color: white;
  transition-duration: .4s;
  border: none;
  margin-top: 30px;
}
.regsub:hover{
  background-color: white;
  color: black;
  border: solid green;
}
.postsub{
  background-color: blue;
  color: white;
  transition-duration: .4s;
  border: none;
  margin-top: 30px;
}
.postsub:hover{
  background-color: white;
  color: black;
  border: solid blue;
}
.forms{
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  width: 600px;
  height: 100px;
  size: 30px;
  font-size: 30px;
  font: solid black;
  margin-bottom: 5px;
}
legend{
  margin-bottom: 10px;
}
label{
  font-size: 25px;
}
input[type="file" i] {
  font-family: FreeMono, monospace;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cat{
  position: fixed;
  bottom: 0;
  width: 100%;
  width: 188px;
}
.footer{
  color: white;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}
.valid{
  border: none !important;
  border-bottom: 2px solid black !important;
  background-color: white !important;
  width: 600px !important;
  height: 100px !important;
  size: 30px !important;
  font-size: 30px !important;
  font: solid black !important;
  margin-bottom: 5px !important;
}
.product-list {
  display: grid;
  max-width: 1200px;
  min-width: 700px;
  width: 60%;
  margin-left: 450px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 10px));
  gap: 50px;
  padding: 1em;
}

.product-card {
  display: grid;
  border-radius: .35em;
  grid-template-areas: "info";
  margin-bottom: 35px;
  background-color: white;
  padding-left: 3.5px;
  padding-top: 3.5px;
  padding-right: 3.5px;
}

.prod-img {
  grid-area: info;
  height: 100%;
  width: 100%;
  border-radius: .35rem;
  border-radius: .35rem;
  object-fit: cover;
}

.prod-info {
  grid-area: info;
  display: flex;
  width: 100%;
  height: 30px;
  z-index: 3;
  justify-self: center;
  padding: .3em;
  align-self: flex-end;
  background-color: aliceblue;
  font-size: .8rem;
}

.prod-title {
  margin: 0;
  background-color: transparent;
  flex: 1 75%;
  overflow: hidden;
  font-family: FreeMono, monospace;
}

#target {
  height: 100px;
  background-color: red;
}

.photo_count{
  color: white;
  font-size: 30px;
}

.photo-count{
  background-color: white;
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  border: 4px solid red;
}