
a{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
}
button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
}
.indexnavmain{
  background-color: white;
  border: solid red;
  color: black;
  cursor: not-allowed;
}
.indexnav{
  background-color: red;
}
.indexnav:hover{
  background-color: white;
  color: black;
  border: solid red;
}
.loginnavmain{
  background-color: white;
  border: solid rgb(255, 208, 0);
  color: black;
  cursor: not-allowed;
}
.loginnav{
  background-color: rgb(255, 208, 0);
}
.loginnav:hover{
  background-color: white;
  color: black;
  border: solid rgb(255, 208, 0);
}
.regnavmain{
  background-color: white;
  border: solid green;
  color: black;
  cursor: not-allowed;
}
.regnav{
  background-color: green;
}
.regnav:hover{
  background-color: white;
  color: black;
  border: solid green;
}
.postnavmain{
  background-color: white;
  border: solid blue;
  color: black;
  cursor: not-allowed;
}
.postnav{
  background-color: blue;
}
.postnav:hover{
  background-color: white;
  color: black;
  border: solid blue;
}
.viewnavmain{
  background-color: white;
  border: solid purple;
  color: black;
  cursor: not-allowed;
}
.viewnav{
  background-color: purple;
}
.viewnav:hover{
  background-color: white;
  color: black;
  border: solid purple;
}
.nav{
  text-align: center;
  margin-top: 10px;
}
.headerindex{
  text-align: center;
  background-color: rgb(255,178,178);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid red;
}
.headerlogin{
  text-align: center;
  background-color: rgb(255,241,178);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid rgb(255, 208, 0);
}
.headerreg{
  text-align: center;
  background-color: rgb(178,217,178);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid green;
}
.headerpost{
  text-align: center;
  background-color: rgb(178,178,255);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid blue;
}
.headerview{
  text-align: center;
  background-color: rgb(217,178,217);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid purple;
}
.article{
  text-align: center;
}
body.indexpage{
  background-image: url(redback.png);
}
body.loginpage{
  background-image: url(yellowback.png);
}
body.regpage{
  background-image: url(greenback.png);
}
body.postpage{
  background-image: url(blueback.png);
}
body.viewpage{
  background-image: url(purpleback.png);
}
form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer{
  color: white;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article{
  margin-top: 30px;
}
body{
  font-family: FreeMono, monospace;
}