a {
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
}

.TOSLink {
  color: black !important;
  text-decoration: underline !important;
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}

input[type=submit] {
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}

.mainnavs {
  background-color: white;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}

.nav {
  text-align: center;
}

.header {
  text-align: center;
  padding: auto;
  justify-content: center;
  margin: auto;
  width: 250px;
}
.headcont{
  background: url(toppartwebsite.png);
  padding-top: 18px;
  padding-bottom: 18px;
}

.container {
  text-align: center;
}

body {
  font-family: FreeMono, monospace;
  margin: 0;
}

fieldset {
  display: contents;
}

input {
  padding-bottom: 0;
}

form {
  background-color: white;
  margin: auto;
  width: 700px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.forms {
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  width: 600px;
  height: 100px;
  size: 30px;
  font-size: 30px;
  font: solid black;
  margin-bottom: 5px;
}

legend {
  margin-bottom: 10px;
}

label {
  font-size: 25px;
}

input[type="file" i] {
  font-family: FreeMono, monospace;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cat {
  position: fixed;
  bottom: 0;
  width: 100%;
  width: 188px;
}

.footer {
  color: white;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.valid {
  border: none !important;
  border-bottom: 2px solid black !important;
  background-color: white !important;
  width: 600px !important;
  height: 100px !important;
  size: 30px !important;
  font-size: 30px !important;
  font: solid black !important;
  margin-bottom: 5px !important;
}

.product-list {
  display: grid;
  max-width: 1200px;
  min-width: 700px;
  width: 60%;
  margin-left: 450px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 10px));
  gap: 50px;
  padding: 1em;
}

.product-card {
  display: grid;
  border-radius: .35em;
  grid-template-areas: "info";
  margin-bottom: 35px;
  background-color: white;
  padding-left: 3.5px;
  padding-top: 3.5px;
  padding-right: 3.5px;
}

.prod-img {
  grid-area: info;
  height: 100%;
  width: 100%;
  border-radius: .35rem;
  border-radius: .35rem;
  object-fit: cover;
}

.prod-info {
  grid-area: info;
  display: flex;
  width: 100%;
  height: 30px;
  z-index: 3;
  justify-self: center;
  padding: .3em;
  align-self: flex-end;
  background-color: aliceblue;
  font-size: .8rem;
}

.prod-title {
  margin: 0;
  background-color: transparent;
  flex: 1 75%;
  overflow: hidden;
  font-family: FreeMono, monospace;
}

#target {
  height: 100px;
  background-color: red;
}

.photo_count {
  color: white;
  font-size: 30px;
}

.photo-count {
  background-color: white;
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  border: 4px solid red;
}

.indexnav {
  background-color: rgb(242, 243, 245);
}

.indexnav:hover {
  background-color: white;
  color: black;
  border: solid rgb(242, 243, 245);
}

.loginnav {
  background-color: rgb(91, 206, 250);
}

.loginnav:hover {
  background-color: white;
  color: black;
  border: solid rgb(91, 206, 250);
}

.postnav {
  background-color: rgb(245, 169, 184);
}

.postnav:hover {
  background-color: white;
  color: black;
  border: solid rgb(245, 169, 184);
}

.viewnav {
  background-color: rgb(245, 169, 184);
}

.viewnav:hover {
  background-color: white;
  color: black;
  border: solid rgb(245, 169, 184);
}
.alert-danger{
  position: fixed;
  margin: auto;
  width: 250px;
  left: 50%;
  margin-left:  -129px;
  margin-top: 1%;
  height: auto;
  background-color: red;
  border: 4px solid red;
}
.alert-success{
  position: fixed;
  margin: auto;
  width: 250px;
  left: 50%;
  margin-left:  -129px;
  margin-top: 1%;
  height: auto;
  background-color: green;
  border: 4px solid green;
}