a {
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.TOSLink {
  color: black !important;
  text-decoration: underline !important;
}

input[type=submit] {
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav {
  text-align: center;
  display: flex;
}

.header {
  text-align: center;
  padding: auto;
  justify-content: center;
  margin: auto;
  width: 250px;
}
.headcont{
  background: url(toppartwebsite.png);
  background-position: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.container {
  text-align: center;
}

body {
  font-family: FreeMono, monospace;
  margin: 0;
}

fieldset {
  display: contents;
}

input {
  padding-bottom: 0;
}

.forms {
  background-color: white;
  margin: auto;
  width: 700px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.formsinput {
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  width: 600px;
  height: 100px;
  size: 30px;
  font-size: 30px;
  font: solid black;
  margin-bottom: 5px;
}

legend {
  margin-bottom: 10px;
}

label {
  font-size: 25px;
}

input[type="file" i] {
  font-family: FreeMono, monospace;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cat {
  position: fixed;
  bottom: 0;
  width: 188px;
}

.footer {
  color: white;
  text-align: center;
  position: fixed;
  top: 95%;
  right: 5%;
}

.invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

.valid {
  border: none !important;
  border-bottom: 2px solid black !important;
  background-color: white !important;
  width: 600px !important;
  height: 100px !important;
  size: 30px !important;
  font-size: 30px !important;
  font: solid black !important;
  margin-bottom: 5px !important;
}

.index-container {
  display: grid;
  max-width: 1200px;
  min-width: 700px;
  width: 60%;
  margin-left: 450px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 10px));
  gap: 50px;
  padding: 1em;
}

.post-card {
  display: grid;
  border-radius: .35em;
  grid-template-areas: "info";
  margin-bottom: 35px;
  background-color: white;
  padding-left: 3.5px;
  padding-top: 3.5px;
  padding-right: 3.5px;
  width: 200px;
  height: 420px;
}

.p-image {
  grid-area: info;
  max-width: 200px;
  max-height: 300px;
  border-radius: .35rem;
  border-radius: .35rem;
  object-fit: cover;
}

.p-link{
  text-decoration: underline !important;
}

.p-description{
  display:-webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.p-title {
  margin: 0;
  background-color: transparent;
  flex: 1 75%;
  overflow: hidden;
  font-family: FreeMono, monospace;
}

.nav-button {
  background-color: rgb(91, 206, 250);
}

.nav-button:hover{
  max-height: 15px;
  border: 1px solid rgb(189, 235, 253);
}

.alert-danger{
  position: absolute;
  width: fit-content;
  margin-top: 2%;
  height: auto;
  background-color: rgb(255, 153, 153);
  border: 2px solid red;
  font-weight: bolder;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.alert-success{
  position: absolute;
  width: fit-content;
  margin-top: 2%;
  height: auto;
  background-color: rgb(153, 255, 153);
  border: 2px solid rgb(0, 255, 0);
  font-weight: bolder;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.postlink{
  color:black;
}

.search-bar{
  display: inline;
}

.nav{
  background-color: rgb(91, 206, 250);
}

body.container{
  background-color: rgb(189, 235, 253);
}

.header {
  background-color: rgb(189, 235, 253);
  border: 4px solid rgb(91, 206, 250);
}

.forms {
  border: 4px solid rgb(91, 206, 250);
}

.sub {
  background-color: rgb(91, 206, 250);
  color: white;
  transition-duration: .4s;
  border: none;
  margin-top: 30px;
}

.sub:hover {
  background-color: white;
  color: black;
  border: solid rgb(91, 206, 250);
}

#cat{
  width:188px;
  height: 268px;
  background: url(sakamotoblue.png);
}

.postimage{
  max-width: 700px;
  max-height: 700px;
}

.PostTitle{
  font-size: 75px;
  color: white;
}

.PostUsername{
  display: inline;
  font-weight: bold;
  color: green;
}

.PostDate{
  display: inline;
  color: white;
}

.search-button{
  background-image: url('magna.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  cursor: pointer;
  background-color: white;
}

.search-input{
  width: 100%;
}

.search-bar{
  display: flex;
}
.search-bar-container{
  flex: 1 7 auto;
  padding-top: .5%;
}

.post-nav{
  margin-right: 7%;
}

.index-nav{
  margin-left: 7%;
}

.error-404{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  -webkit-text-stroke: 2px black;
  color: white;
}

.img-404{
  width:100%;
  height: 100%;
}

