
a{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
}
.TOSLink{
  color: black !important;
  text-decoration: underline !important;
}
button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
}
.indexnavmain{
  background-color: white;
  border: solid red;
  color: black;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}
.indexnav{
  background-color: red;
}
.indexnav:hover{
  background-color: white;
  color: black;
  border: solid red;
}
.loginnavmain{
  background-color: white;
  border: solid rgb(255, 208, 0);
  color: black;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}
.loginnav{
  background-color: rgb(255, 208, 0);
}
.loginnav:hover{
  background-color: white;
  color: black;
  border: solid rgb(255, 208, 0);
}
.regnavmain{
  background-color: white;
  border: solid green;
  color: black;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}
.regnav{
  background-color: green;
}
.regnav:hover{
  background-color: white;
  color: black;
  border: solid green;
}
.postnavmain{
  background-color: white;
  border: solid blue;
  color: black;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}
.postnav{
  background-color: blue;
}
.postnav:hover{
  background-color: white;
  color: black;
  border: solid blue;
}
.viewnavmain{
  background-color: white;
  border: solid purple;
  color: black;
  cursor: not-allowed;
  font-family: FreeMono, monospace;
}
.viewnav{
  background-color: purple;
}
.viewnav:hover{
  background-color: white;
  color: black;
  border: solid purple;
}
.nav{
  text-align: center;
  margin-top: 10px;
}
.headerindex{
  background-color: rgb(255,178,178);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid red;
}
.headerlogin{
  background-color: rgb(255,241,178);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid rgb(255, 208, 0);
}
.headerreg{
  background-color: rgb(178,217,178);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid green;
}
.headerpost{
  background-color: rgb(178,178,255);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid blue;
}
.headerview{
  background-color: rgb(217,178,217);
  text-align: center;
  padding: 1px 0;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 250px;
  border: 4px solid purple;
}
.article{
  text-align: center;
}
body.indexpage{
  background-image: url(redback.png);
}
body.loginpage{
  background-image: url(yellowback.png);
}
body.regpage{
  background-image: url(greenback.png);
}
body.postpage{
  background-image: url(blueback.png);
}
body.viewpage{
  background-image: url(purpleback.png);
}
.article{
  margin-top: 30px;
}
body{
  font-family: FreeMono, monospace;
}
.logform{
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  width: 600px;
  height: 100px;
  size: 30px;
  font-size: 30px;
  font: solid black;
}
.logsub{
  margin-top: 50px;
}
fieldset{
  display:contents;
}
input{
  padding-bottom: 0;
}
form{
  background-color: white;
  margin: auto;
  width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.loginform{
  border: 4px solid rgb(255, 208, 0);
}
.regiform{
  border: 4px solid green;
}
.postimform{
  border: 4px solid blue;
}
.logsub{
  background-color: rgb(255, 208, 0);
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
  border: none;
}
.logsub:hover{
  background-color: white;
  color: black;
  border: solid rgb(255, 208, 0);
}
.regsub{
  background-color: green;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
  border: none;
  margin-top: 30px;
}
.regsub:hover{
  background-color: white;
  color: black;
  border: solid green;
}
.postsub{
  background-color: blue;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  margin-left: 15px;
  margin-right: 15px;
  transition-duration: .4s;
  border: none;
  margin-top: 30px;
}
.postsub:hover{
  background-color: white;
  color: black;
  border: solid blue;
}
.forms{
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  width: 600px;
  height: 100px;
  size: 30px;
  font-size: 30px;
  font: solid black;
}
legend{
  margin-bottom: 10px;
}
label{
  font-size: 25px;
}
input[type="file" i] {
  font-family: FreeMono, monospace;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cat{
  position: fixed;
  bottom: 0;
  width: 100%;
  width: 188px;
}
.footer{
  color: white;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input:invalid {
  background-color: ivory !important;
  border: none !important;
  outline: 2px solid red !important;
  border-radius: 5px !important;
}