.viewnavmain {
    border: solid purple;
}

.header {
    background-color: rgb(217, 178, 217);
    border: 4px solid purple;
}

body.container {
    background-image: url(purpleback.png);
}

#cat{
    width:188px;
    height: 270px;
    background: url(sakamotopurple.png);
}