.nav{
    background-color: rgb(242, 243, 245);
}

body.container{
    background-color: rgb(250, 250, 251);
}

#cat{
    width:188px;
    height: 268px;
    background: url(sakamotowhite.png);
}

.nav{
    background-color: rgb(242, 243, 245);
}

body.container{
    background-color: rgb(250, 250, 251);
}

.header {
    background-color: rgb(250, 250, 251);
    border: 4px solid rgb(242, 243, 245);
}
